@-webkit-keyframes remove {
    0% {
        opacity: 1;
        height: 100%;
    }

    100% {
        padding: 0;
        opacity: 0;
    }
}

@keyframes remove {
    0% {
        opacity: 1;
        height: 100%;
    }

    100% {
        padding: 0;
        opacity: 0;
    }
}

:root {
    --Check-Background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    --Bright-Blue: hsl(235, 21%, 11%);
    --Bright-Blue: hsl(220, 98%, 61%);
    --Very-Light-Gray: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(0, 0%, 98%);
    --Very-Dark-Grayish-Blue: hsl(233, 11%, 84%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Light-Grayish-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Blue2: hsl(233, 11%, 84%);
}

.dark-theme {
    --Bright-Blue: hsl(220, 98%, 61%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Blue2: hsla(228, 24%, 4%, 0.63);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 12rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    position: relative;
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    scroll-behavior: smooth;
    background-color: var(--Very-Dark-Blue);
}

body::-webkit-scrollbar {
    background: var(--Light-Grayish-Blue);
    width: 0.3125rem;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
    height: auto;
}

body::-webkit-scrollbar-thumb {
    background: var(--Check-Background);
    outline: 0.1875rem solid var(--Very-Dark-Desaturated-Blue);
    border-radius: 1.25rem;
    width: 0.3125rem;
}

picture {
    width: 100%;
    height: 100%;
}

picture img {
    width: 100%;
    height: 15.625rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
}

h1 {
    font-size: clamp(1.25rem, 1.6875rem + 0.5vw, 2.0625rem);
    text-transform: uppercase;
    letter-spacing: 0.625rem;
    font-weight: 700;
    color: hsl(0deg, 0%, 98%);
}

*,
body>* {
    transition: 0.2s ease-in;
}

.banner {
    display: block;
    width: 100%;
    height: 100%;
}

@media (min-width: 33.125rem) {
    .banner .theme {
        background-image: url("../../images/bg-desktop-light.jpg");
    }
    
}

.card {
    width: min(100% - 3.125rem, 35.625rem);
    margin-inline: auto;
    margin-top: -10rem;
    position: relative;
    border-radius: 0.3125rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: stretch;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card span {
    color: var(--Dark-Grayish-Blue);
    text-align: center;
    width: 100%;
    margin-inline: auto;
    display: block;
    margin-top: clamp(1.875em, 4.5rem + 5vw, 4.375rem);
    font-size: clamp(0.5625rem, 0.8125rem + 1vw, 0.9375rem);
    font-weight: 400;
}

.card .card-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.875rem;
}

.card .card-header .toggle {
    width: 1.25rem;
    cursor: pointer;
}

.card .card-body .input {
    box-shadow: 0 0.1875rem 0.75rem -0.3125rem var(--Very-Dark-Blue2);
    width: 100%;
    display: block;
    margin-bottom: 0.9375em;
}

.card .card-body .input label {
    position: relative;
}

.card .card-body .input label input {
    width: 100%;
    background-color: var(--Very-Dark-Desaturated-Blue);
    color: var(--Bright-Blue);
    font-weight: 400;
    font-size: 1rem;
    height: 3.75rem;
    border: none;
    border-radius: 0.3125rem;
    padding-left: 3.125rem;
    caret-color: var(--Dark-Grayish-Blue);
}

.card .card-body .input label input::-moz-placeholder {
    color: var(--Dark-Grayish-Blue);
    font-family: "Josefin Sans", sans-serif;
}

.card .card-body .input label input:-ms-input-placeholder {
    color: var(--Dark-Grayish-Blue);
    font-family: "Josefin Sans", sans-serif;
}

.card .card-body .input label input::placeholder {
    color: var(--Dark-Grayish-Blue);
    font-family: "Josefin Sans", sans-serif;
}

.card .card-body .input label input:focus {
    outline: 0.0625rem solid var(--Bright-Blue);
}

.card .card-body .input label .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1.25rem;
}

.card .card-body .input label .placeholder .div {
    width: min(1.25rem, 1.25rem + 1vw, 1.375rem);
    aspect-ratio: 1;
    border: 0.0625rem solid var(--Dark-Grayish-Blue);
    opacity: 0.3;
    border-radius: 100%;
}

.card .card-body .todo-wrapper {
    box-shadow: none;
}

.card .card-body .todo-wrapper .todo {
    max-height: 21.875rem;
    background-color: var(--Very-Dark-Desaturated-Blue);
    overflow: hidden;
    overflow-y: scroll;
}

.card .card-body .todo-wrapper .todo::-webkit-scrollbar {
    background: var(--Very-Dark-Desaturated-Blue);
    width: 0.125rem;
}

.card .card-body .todo-wrapper .todo::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.375rem rgba(0, 0, 0, 0.3);
    height: auto;
}

.card .card-body .todo-wrapper .todo::-webkit-scrollbar-thumb {
    background: var(--Check-Background);
    outline: 0.1875rem solid var(--Very-Dark-Desaturated-Blue);
    border-radius: 1.25rem;
    width: 0.3125rem;
}

.card .card-body .todo-wrapper .todo .todo-items,
.card .card-body .todo-wrapper .todo .completed {
    cursor: -webkit-grab;
    cursor: grab;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--Very-Dark-Desaturated-Blue);
    padding: 0.9375rem;
    padding-left: 1.25rem;
    position: relative;
}

.card .card-body .todo-wrapper .todo .todo-items::before,
.card .card-body .todo-wrapper .todo .completed::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.0625rem;
    background-color: var(--Very-Dark-Grayish-Blue);
    opacity: 0.5;
}

.card .card-body .todo-wrapper .todo .todo-items .task,
.card .card-body .todo-wrapper .todo .completed .task {
    color: var(--Light-Grayish-Blue);
    font-size: 1rem;
    transition: color 0.4s ease;
    cursor: pointer;
}

.card .card-body .todo-wrapper .todo .todo-items .grabbing,
.card .card-body .todo-wrapper .todo .completed .grabbing {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.card .card-body .todo-wrapper .todo .todo-items .button,
.card .card-body .todo-wrapper .todo .completed .button {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 100%;
    margin-right: 1.25em;
    z-index: 2;
    opacity: 0.3;
    cursor: pointer;
    width: min(1.25rem, 1.25rem + 1vw, 1.375rem);
    height: 1.25rem;
    border: 0.0625rem solid var(--Dark-Grayish-Blue);
    border-radius: 100%;
}

.card .card-body .todo-wrapper .todo .todo-items .button .check,
.card .card-body .todo-wrapper .todo .completed .button .check {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
}

.card .card-body .todo-wrapper .todo .todo-items .button .show-check,
.card .card-body .todo-wrapper .todo .completed .button .show-check {
    visibility: visible;
    opacity: 1;
}

.card .card-body .todo-wrapper .todo .todo-items .bg,
.card .card-body .todo-wrapper .todo .completed .bg {
    background: var(--Check-Background);
    opacity: unset;
    border: none;
}

.card .card-body .todo-wrapper .todo .todo-items .mark,
.card .card-body .todo-wrapper .todo .completed .mark {
    margin-left: auto;
    cursor: pointer;
}

.card .card-body .todo-wrapper .todo .todo-items:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.card .card-body .todo-wrapper .todo .todo-items.completed {
    transform: none;
}

.card .card-body .todo-wrapper .todo .remove.todo-items {
    -webkit-animation: remove 0.2s ease-in;
    animation: remove 0.2s ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.card .card-body .todo-wrapper .todo .remove.completed {
    -webkit-animation: remove 0.2s ease-in;
    animation: remove 0.2s ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.card .card-body .todo-wrapper .todo .completed>.button .check {
    opacity: 1;
    visibility: visible;
}

.card .card-body .todo-wrapper .todo .completed>.task {
    text-decoration: line-through;
    color: var(--Very-Dark-Grayish-Blue);
}

.card .card-body .todo-wrapper .todo .completed .button {
    background: var(--Check-Background);
    opacity: unset;
    border: none;
}

.card .card-body .todo-wrapper .show-active .completed {
    display: none;
}

.card .card-body .todo-wrapper .removeItem .todo-items {
    display: none;
}

.card .card-body .todo-wrapper .mobile-component {
    box-shadow: 0rem 0.625rem 0.625rem -0.3125rem var(--Very-Dark-Blue2);
    margin-bottom: 1.875em;
    background-color: var(--Very-Dark-Desaturated-Blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.25em;
    font-size: 0.9375rem;
    cursor: pointer;
    color: var(--Dark-Grayish-Blue);
    border-bottom-left-radius: 0.3125rem;
    border-bottom-right-radius: 0.3125rem;
}

@media (min-width: 48rem) {
    .card .card-body .todo-wrapper .mobile-component {
        margin-bottom: 0em;
        display: none !important;
    }
}

.card .card-body .todo-wrapper .mobile-component .clear-Completed {
    transition: 0.3s ease;
    cursor: pointer;
}

.card .card-body .todo-wrapper .mobile-component .clear-Completed:hover {
    color: var(--Light-Grayish-Blue);
}

.card .card-body .todo-wrapper .todo-footer {
    box-shadow: 0.375rem 1.25rem 0.9375rem -0.3125rem var(--Very-Dark-Blue2);
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;
    font-size: 1.0625rem;
    background-color: var(--Very-Dark-Desaturated-Blue);
    border-radius: 0.4375rem;
}

@media (min-width: 48rem) {
    .card .card-body .todo-wrapper .todo-footer {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.card .card-body .todo-wrapper .todo-footer .in-common {
    display: none;
    color: var(--Dark-Grayish-Blue);
}

.card .card-body .todo-wrapper .todo-footer .todo-track {
    padding: 1.25em;
}

.card .card-body .todo-wrapper .todo-footer .todo-track ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    font-weight: 700;
}

.card .card-body .todo-wrapper .todo-footer .todo-track ul li {
    margin: 0 0.9375em;
    list-style: none;
}

.card .card-body .todo-wrapper .todo-footer .todo-track ul li a {
    font-weight: 700;
    text-decoration: none;
    color: var(--Dark-Grayish-Blue);
    font-size: 0.9375rem;
    cursor: pointer;
    transition: 0.5s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card .card-body .todo-wrapper .todo-footer .todo-track ul li a:hover {
    color: var(--Very-Light-Gray);
}

.card .card-body .todo-wrapper .todo-footer .todo-track ul li a.focus {
    color: var(--Bright-Blue);
}

.card .card-body .todo-wrapper .todo-footer .in-common1 {
    display: none;
    cursor: pointer;
    color: var(--Dark-Grayish-Blue);
    transition: 0.5s ease;
}

.card .card-body .todo-wrapper .todo-footer .in-common1:hover {
    color: var(--Very-Light-Gray);
}

.card .card-body .todo-wrapper .todo-footer .in-common1.focus {
    color: var(--Bright-Blue);
}

@media (min-width: 48rem) {
    .card .card-body .todo-wrapper .todo-footer .in-common1 {
        display: flex;
    }
}

.card .card-body .todo-wrapper .todo-footer .in-common3 {
    display: none;
    color: var(--Dark-Grayish-Blue);
    cursor: pointer;
}

.card .card-body .todo-wrapper .todo-footer .in-common3:hover {
    color: var(--Very-Light-Gray);
}

@media (min-width: 48rem) {
    .card .card-body .todo-wrapper .todo-footer {
        justify-content: space-between;
        padding-inline: 1.875rem;
    }

    .card .card-body .todo-wrapper .todo-footer .in-common,
    .card .card-body .todo-wrapper .todo-footer .in-common3 {
        display: block;
    }
}

footer {
    margin-top: 2.5rem;
    font-size: 0.9375rem;
    color: var(--Light-Grayish-Blue);
    text-align: center;
}

footer a {
    color: var(--Bright-Blue);
}

@media (max-width: 799px) {
    .attribution {
        margin-top: 6rem;
    }
}